* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 90%;
  margin: 10px auto;
}

h1 {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul,
p {
  font-size: small;
}

.region_hour {
  font-size: small;
  font-weight: normal;
}

/* VISTA MÓVIL */

@media screen and (max-width: 599px) {
  .main_article_container {
    display: flex;
    flex-direction: column;
    /* width: 90%; */
  }

  .main_article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .main_article_container img {
    width: 100%;
  }

  .main_article_content {
    display: flex;
    flex-wrap: wrap;
  }

  .main_article ul {
    display: flex;
    flex-direction: row;
    /* line-height: 40px; */
    justify-content: space-between;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
  }

  .main_article li {
    width: 30%;
    justify-content: space-between;
  }

  .secondary_articles_container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .secondary_articles article {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-bottom: 15px;
  }

  .secondary_articles iframe,
  .secondary_articles img {
    width: 40%;
    height: 175px;
  }

  .secondary_articles div {
    width: 50%;
  }

  .secondary_articles p {
    visibility: hidden;
  }

  .tertiary_articles_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid gray; */
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 10px;
  }

  .tertiary_articles {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .tertiary_articles img {
    width: 100%;
  }

  /* #tertiary_articles_bis {
        display: flex;
        flex-wrap: nowrap;
    } */

  #tertiary_articles_bis iframe,
  #tertiary_articles_bis img {
    width: 0%;
    height: 0px;
  }

  .bottom_articles_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .bottom_articles_container h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    justify-content: center;
  }

  .bottom_articles {
    display: flex;
    width: 33%;
  }

  .bottom_articles img {
    width: 100%;
  }

  .bottom_articles_row {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
}

/* VISTA DESKTOP */

@media screen and (min-width: 600px) {
  .main_article {
    display: flex;
    flex-direction: row;
    gap: 3%;
  }

  .main_article img {
    width: 63%;
    height: 300px;
  }

  .secondary_articles_container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 20px;
  }

  .secondary_articles iframe,
  .secondary_articles img {
    width: 100%;
    height: 150px;
  }
  .secondary_articles {
    width: 30%;
  }

  .secondary_articles article {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .tertiary_articles_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
    /* border-bottom: 1px solid gray; */
    flex-wrap: nowrap;
    gap: 3%;
    row-gap: 10px;
  }

  .tertiary_articles {
    display: flex;
    flex-direction: row;
    width: 20%;
  }

  .tertiary_articles img {
    width: 100%;
  }

  /* #tertiary_articles_bis {
        display: flex;
        flex-wrap: nowrap;
    } */

  #tertiary_articles_bis iframe {
    width: 100%;
    height: 90px;
  }

  .bottom_articles_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .bottom_articles_container h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    justify-content: center;
  }

  .bottom_articles {
    display: flex;
    width: 33%;
  }

  .bottom_articles img {
    width: 100%;
  }

  .bottom_articles_row {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
}
